.header__container {
  background-color: #fff150;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
